.main {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
}

.calendar {
  background-color: bisque;
  flex-basis: 60%;
}

.list {
  background-color: skyblue;
  flex-basis: 40%;
}

.month-list {
  list-style: none;
}

.card {
  margin: 10px;
}

