body {
  background-color: 	#F2F2F7;
}

.main {
  /*background-color: yellow;*/
  display: flex;
  justify-content: space-around;
}

.navbar-brand{
  margin: auto;
}

.calendar {
  margin-top: 7px;
  background-color: white;
  flex-basis: 60%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.55);
  /*border-radius: 2%;*/
}
/*カレンダー土曜日*/
.fc-day-sat {
  background-color: #eaf4ff;
}
/*カレンダー日曜日*/
.fc-day-sun {
  background-color: #ffeaea;
}

.list {
  /*background-color: skyblue;*/
  flex-basis: 40%;
}

.card-header{
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.55);
  border-radius: 3%;
  background-color: #c7f1ff;
}

.list-group{
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.55);
  border-radius: 3%;
}

.month-list {
  list-style: none;
}

.card {
  margin: 10px;
}

.modal-header{
  background-color: #c7f1ff;
}

.navbar {
  /*background-color: #c7f1ff;*/
}

.navbar-light .navbar-brand{
  color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-toggler{
  border: none;
}

.rounded-circle{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #c7f1ff;
  color: rgba(0, 0, 0, 0.55);
  border: none;
}



