<%# // ヘッダーapplicationに記述する  %>


<%= link_to "前の月のリンク",expenses_path(month:@month.prev_month) %>
<%= @month %>

<%= link_to "次の月のリンク",expenses_path(month:@month.next_month) %>
<%# 月選択できる %>
<%# 
<label for="Target">対象月</label>

<input type="month" id="start" name="start"
       min="2018-03" value="Time.now.year"> %>

<%= pie_chart @incomes.group(:income_item_id).sum(:amount), donut: true %>